<h1><%= @request.title %></h1>

<h3><%= @request.description %></h3></br></br>
Location: <%= @request.location %></br>
Date Service is Requested<%= @request.servicedate %></br>
Estimated Time: <%= @request.duration %></br>
KarmaPoints: <%= @request.karmapoints %></br>
Urgency: <%= @request.urgency %></br>
Request Posted At: <%= @request.created_at %></br>
