<h1> Help <%= @request.user.name %>!! </h1>

<%= image_tag(@request.user.image_url, size: "200") %>

<h3><%= @request.title %></h3>

<h5><%= @request.description %></h5></br></br>
Location: <%= @request.location %></br>
Date Service is Requested<%= @request.servicedate %></br>
Estimated Time: <%= @request.duration %></br>
KarmaPoints: <%= @request.karmapoints %></br>
Urgency: <%= @request.urgency %></br>
Request Posted At: <%= @request.created_at %></br>
